.me {
    background-color: #202020;
    height: 1079px;
    width: 89%;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .me{
        width: 87%;
        height: 994px;
    }
}

.me__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 327px;
    margin: 66px 0 100px 0;
}

@media screen and (max-width: 768px){
    .me__about {
        margin-bottom: 90px;
        height: 307px;
    }
}

.me__description {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .me__description {
        max-width: 364px;
    }
}

.me__photo {
    object-fit: cover;
    width: 270px;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .me__photo {
        width: 255px;
    }
}

.me__name {
    margin: 0 auto 18px 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
}

@media screen and (max-width: 768px){
    .me__name {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 40px;
    }
}

.me__occupation {
    margin: 0 auto 26px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

@media screen and (max-width: 768px){
    .me__occupation {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 18px;
    }
}

.me__text {
    margin: 0 auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

@media screen and (max-width: 768px){
    .me__text {
        font-size: 12px;
        line-height: 18px;
    }
}

.me__links {
    margin: auto auto 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 132px;
}

.me__link {
    background-color: #202020;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.me__portfolio {
    margin: 0 auto 30px 0;
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.me__portfolio-link {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid #424242;
}

.me__portfolio-link:last-of-type {
    border-bottom: none;
}

.me__portfolio-text {
    margin: 20px auto 20px 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
}

@media screen and (max-width: 768px){
    .me__portfolio-text {
        font-size: 28px;
    }
}